* {
    box-sizing: border-box;
}


body {

    margin:0;
    font-family:"Vazirmatn",Tahoma,sans-serif;

    background: linear-gradient(
180deg,
#130A22 0%,
#241245 45%,
#38205F 100%
);
    color:white;

    min-height:100vh;

}



.app {

    max-width:600px;

    margin:auto;

    padding-bottom:40px;

}



/* Header */

.hero {

    text-align:center;

    padding:45px 20px 25px;

}



.logo {

    width:75px;
    height:75px;

    margin:auto;

    display:flex;

    align-items:center;
    justify-content:center;

    border-radius:50%;

    background:rgba(255,255,255,.08);

    font-size:40px;

    box-shadow:
    0 0 30px rgba(139,92,246,.5);

}



h1 {

    margin:15px 0 5px;

    font-size:34px;

    color:#f4c542;

}



.hero p {

    color:#d8cce8;

    margin-bottom:25px;

}



/* Search */


.search-box input {


    width:100%;

    padding:16px 20px;

    border:none;

    outline:none;

    border-radius:30px;

    background:
    rgba(255,255,255,.12);

    color:white;

    font-size:16px;

    backdrop-filter:blur(10px);

}


.search-box input::placeholder {

    color:#ddd;

}



/* Featured */


.featured {

    padding:0 15px;

}


h2 {

    font-size:20px;

    margin:25px 0 15px;

}



#featured-products {

    display:flex;

    gap:15px;

    overflow-x:auto;

}



#featured-products .card {

    min-width:230px;

}



/* Category */


.category-title {


    padding:0 20px;

    margin-top:35px;

    color:#f4c542;

    font-size:22px;

}



/* Cards */


.card {


    margin:15px;

    padding:18px;

    border-radius:25px;


    background:

    linear-gradient(
    145deg,
    rgba(255,255,255,.12),
    rgba(255,255,255,.04)
    );


    backdrop-filter:blur(15px);


    border:1px solid rgba(255,255,255,.08);


    box-shadow:

    0 15px 35px rgba(0,0,0,.3);


    transition:.3s;


}



.card:hover {

    transform:translateY(-5px);

}



.card img {


    width:100%;

    height:180px;

    object-fit:cover;

    border-radius:20px;

}



.card h3 {


    margin:15px 0 8px;

    font-size:20px;

}



.description {

    color:#d0c6dc;

    line-height:1.8;

    font-size:14px;

}



.volume {

    color:#bda8ff;

    font-size:13px;

}



.price {


    margin-top:15px;

    color:#f4c542;

    font-size:22px;

    font-weight:800;

}



/* Popular */


.badge {


    display:inline-block;

    background:#8b5cf6;

    padding:5px 12px;

    border-radius:20px;

    font-size:12px;

    margin-top:10px;

}



/* Footer */


footer {

    text-align:center;

    padding:40px;

    color:#aaa;

}


footer p {

    color:#f4c542;

    font-size:20px;

}
